body{
    font-family: 'Montserrat';
    font-weight: 100;
}

#title{
    background-color: #577399;
    color: #F7F7FF;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3%;
    
}
#navigation{
    background-color: #577399;
    color: #F7F7FF;
}

.container-fluid{
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
}

.text{
    color:#FE5F55;
}

h1{
    font-family: 'Montserrat';
    font-weight: 950;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat';
    font-weight: 950;
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat';
    font-weight: 950;
    font-size: 1.5rem;
}

p{
    font-family: 'Montserrat';
    font-weight: 950;
    font-size: 1rem;
}

/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 18px;
    align-items: center;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 100;
}

/* Download Buttons */

.download-button{
    margin: 10% 25%;
    white-space: nowrap;
    text-align: center;
}

/*title image */

.title-img{
    width: 65%;
    transform: rotate(15deg);
    position: relative;
    left: 25%;
}

/* about section */

#about{
    padding: 2% 13%;
    background-color: #f7f7ff;
    position: relative;
}

.me{
    width: 130%;
    position:relative;
    left: 40%;
    /* top: 25%; */
    animation: animate 4s linear infinite;
}

@keyframes animate{
    50%{
       
        left: 15%;
       
    }
}

#about hr{
    background: #495867 ;
    width: 40%;
    height: 2px;
    /* margin: 100px auto; */
} 

.feature-box{
    text-align: left;
    padding: 3%;
}


/* Skills section */

#skills{
    padding: 5% 15%;
    background-color: #f7f7ff;
}  

#skills hr{
    background: #495867 ;
    width: 20%;
    height: 2px;
    margin: 10px auto;
} 

.icon{
    color: #000;
    margin-bottom: 1rem;
    padding-top: 5%;
   
}

.icon:hover{
    color: #495867;
}

.skill-box ul {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5%;
  }
  
  li {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 1.4rem;
  }

.progress{
    width: 80%;
    height: 10px;
}

.progress-bar{
    background-color: #577399;
}

.skill-box{
    padding-top: 10px; 
}

/* portfolio section */

#portfolio{
    padding: 5% 13%;
    background-color: #FE5F55;
}
.arrow{
    padding-left: 40%;
    padding-top: 1.5%;
}
.arrow-button{
    color:#495867;
    background-color: #F7F7FF;
}

.arrow-button:hover{
    background-color: #BDD5EA;
}

.carousel-item{
    padding: 5% 3% 0;
} 

.card-body{
    text-align: center;
}

.btn-git{
    background-color:#577399;
    border-color: #577399;
}

.btn-git:hover{
    background-color: #BDD5EA;
    color:black;
}

#portfolio hr{
    height: 2px;
    width:38%;
    background-color: #495867;
}

.check-btn{
    text-align: center;
    align-items: center;
}

/* testimonial section */
/* 
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}*/



/* press section */

/* #press{
   background-color: #ef8172;
   text-align: center;
   padding-bottom: 3%; 
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
} */

/* pricing section */

/* #pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
} */



/* cta section*/

/* #cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading{
    font-family: 'Montserrat';
    font-weight: 950;
    font-size: 3.5rem;
    line-height: 1.5;
} */

/* footer section */

#footer{
    background-color: #495867;
    padding: 5% 10%;
    color:#F7F7FF;
}

a{
    font-family: 'Montserrat';
    font-weight: 950;
    font-size: 1rem;
    color:#F7F7FF;
    text-decoration: none;
    
}

a:hover{
    color:#BDD5EA;
}

.social-icon{
    padding: 10px 10px 10px 0;
}

.social-icon:hover {
    color: #BDD5EA;
}

.button{
    width: 100%;
}

.social-icon1{
    padding: 45px 10px 10px 225px;
}

.social-icon1:hover{
    color: #BDD5EA;
} 

#footer p{
    padding: 15px 10px 10px 175px;
}

:root{
 
    --typewriterSpeed: 1s;
    
}

/* #title h2{
    position: relative;
    color: #FE5F55;
    
}
/* #title h2::after{
      content: "I'm";
      position: fixed;
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
}*/
/*#title h1{
    font-family: 'Montserrat';
    font-weight: 950;
    font-size: 3rem;
    line-height: 1.5;
}
#title h2::before,
h2::after {
    content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#title h2::before {
    background: #577399;;
    animation: typewriter 6s
      steps(24) 1s forwards;
}

#title h2::after {
    width: 0.125em;
    background: #F7F7FF;
    animation: typewriter 6s
        steps(24) 1s 
    forwards,
      blink 750ms steps(24) infinite;
}  */
/* @keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 50%;
    }
}

@keyframes blink {
    from {
        border-color: black;
    }

    to {
        border-color: transparent;
    }
} */
/* @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }  */
#title h3 {
    opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 0.5s) forwards;
}
@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
@media (max-width: 1028px){
    #title #portfolio{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
    .me{
        position: static;
        transform: rotate(0);
        width: 50%;
    }
    li {
       font-size: 1.2rem;
      }
    #footer{
        text-align: center;
    }
    a{
        text-align: center;
    }
    .social-icon1{
        padding: 0;
    }
    #footer p{
        padding: 0;
    }
    #about hr{
        background: #495867 ;
        width: 78%;
        height: 2px;
        /* margin: 100px auto; */
    } 
    #portfolio hr{
        background: #495867 ;
        height: 2px;
        width:78%;
    }
}